# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

[*.cs]
indent_style                                = space
indent_size                                 = 4
csharp_preserve_single_line_blocks          = true
csharp_prefer_braces                        = false : warning
csharp_style_expression_bodied_methods      = true : suggestion
csharp_style_expression_bodied_constructors = true : suggestion
csharp_style_expression_bodied_operators    = true : suggestion
csharp_style_expression_bodied_properties   = true : suggestion
csharp_style_expression_bodied_indexers     = true : suggestion
csharp_style_expression_bodied_accessors    = true : suggestion

# Xml files
[*.xml]
indent_size = 2
